.message {
	height: fit-content;
	width: fit-content;
	border-radius: 10px;
	font-weight: 600;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	max-width: 70%;
	margin: 10px;
	margin-top: 0;
}

@media (width <=425px) {
	.message {
		max-width: 280px;
	}
}