.searchContainer {
    box-shadow: 0px 0px 20px -5px grey;
    border-radius: 6px;
    position: absolute;
    top: 64px;
    left: 70px;
    width: 59vw;
    z-index: 2;
    overflow-y: auto;
    background-color: var(--color-white);
    overflow: hidden;
}

.main {
    overflow-y: auto;
    max-height: 50vh;
}

.searchedUser {
    background-color: var(--color-white);
    padding: 10px;
    display: flex;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid var(--light-grey);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.searchedUser:hover {
    background-color: var(--color-bluish-light-grey);
}

.searchedUser p {
    margin-bottom: 0 !important;

}

.searchedUser span {
    font-size: 30px;
    color: var(--secondary-color);
}

.searchedUser span:hover {
    color: var(--primary-color);
}

.searchedUser:last-child {
    border-bottom: none;
}

@media only screen and (min-width: 960px) {
    .searchContainer {
        width: 30vw;
    }
}