.tab-card {
    width: 100%;
    border: 2px solid var(--light-grey);
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 10px;
    background-color: white;
    z-index: 2;
}

.tab-card__details {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.tab-card__image {
    height: 40px;
    width: 40px;
    border-radius: 42px;
    border: 3px solid var(--primary-color);
}

.tab-card .tab-card__username {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.tab-card__actions {
    display: flex;
    gap: 20px;
}

.tab-card__actions .tab-card__reject-button,
.tab-card__accept-button {
    border-radius: 50%;
}

.tab-card__accept-icon {
    color: var(--primary-color);
}

.tab-card__reject-icon {
    color: var(--red-color);
}

@media (width<=425px) {
    .tab-card__actions {
        gap: 0;
    }
}