::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    width: 10px;
}

input {
    color: black !important;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none !important;
}