* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@import url("./components/styles/Home.css");
@import url("./components/styles/Chat.css");
@import url("./components/styles/Login.css");
@import url("./components/styles/Register.css");
@import url("./components/styles/Home.css");
@import url("./common/styles/Message.css");
@import url("./common/styles/UserSearch.css");
@import url("./components/styles/Profile.css");


.MuiBottomNavigationAction-root.Mui-selected * {
    color: var(--secondary-color);
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
    color: var(--secondary-color);
}

.MuiTabs-root .MuiTabs-indicator {
    background-color: var(--secondary-color);
}

.MuiInputBase-root.MuiOutlinedInput-root {
    border-radius: 5px;
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: var(--secondary-color);
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
    color: var(--secondary-color);
}