:root {
    --primary-color: #00d5c7;
    --secondary-color: #00a59a;
    --light-grey: #e3e3e3;
    --transparent-red: #ff00000f;
    --red-color: red;
}

.left {
    float: left;
    clear: both;
    background-color: white !important;
}

.right {
    float: right;
    clear: both;
}